[submodule "Homography"]
	path = Homography
	url = https://github.com/AbhinandanVellanki/Homography
[submodule "Lucas-Kanade"]
	path = Lucas-Kanade
	url = https://github.com/AbhinandanVellanki/Lucas-Kanade
[submodule "Photometry"]
	path = Photometry
	url = https://github.com/AbhinandanVellanki/Photometry
[submodule "3D-Reconstruction"]
	path = 3D-Reconstruction
	url = https://github.com/AbhinandanVellanki/3D-Reconstruction
[submodule "MNIST-Character-Translation"]
	path = MNIST-Character-Translation
	url = https://github.com/AbhinandanVellanki/MNIST-Character-Translation
